.tasklist{
    display: flex;
    flex-direction: column;
    width: 590px;
    padding: 10px;
    align-items: start;
    justify-content: center;
    gap: 7px;
.taskItem{
    list-style: none;
    border: 1px solid lightslategray;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 590px;
    margin-bottom: 7px;
    position: relative;
    border-radius: 10px;
    .finished_checkbox{
        width: 50px;
        height: 20px;
        cursor: pointer;
    }
    .todo_data{
        width: 490px;
        overflow: hidden;
    }
    .delete_icon{
      position: absolute;
      right: 2px;
      cursor: pointer;
      display: none;
    
    }
}
.taskItem:hover{
    background-color: lightblue;
    color:black;
    font-weight: bold;
    .delete_icon{
        display: block;
    }
}
.empty_todos{
    font-size: 22px;
    color:red;
    text-align: center;
    width: 550px;
}
}

@media(width<=525px){
    .tasklist{
        width: 90%;

        .taskItem{
            width: 96%;
        }
         .empty_todos{
            font-size: 22px;
            color:red;
            text-align: center;
            width: 90%;
        }
    }
}
