.taskinput{
    display: flex;
    flex-direction: row;
    width: 600px;
    border: 1px solid hsl(0, 0%, 0%);
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-top: none;
    border-radius: 10px;
    margin-bottom: 30px;
    
}
@media(width<=525px){
    .taskinput{
        width: 90%;
    }
}
